@model Vidly.ViewModels.IndexMovieViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@Html.ActionLink("New Movie", "MovieForm", "Movies", new { @class = "btn btn-primary" })

@if (Model.Movies.Count < 1)
{
    <p>There are no Movies available at the point</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Movie Name</th>
                <th>Genre</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model.Movies)
            {
            <tr>
                <td>
                    @Html.ActionLink(@movie.Name, "Detail", "Movies",
   new
   {
    @movie.Id
   }, null)
                </td>
                <td>@movie.Genre.Name</td>
                <td>@Html.ActionLink("Edit", "Edit", "Movies", new
               {
                   @movie.Id
               }, null  
               )</td>
            </tr>
            }
        </tbody>
    </table>


}
