@model Vidly.ViewModels.IndexCustomerViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

@if (Model.Customers.Count < 1)
{
    <p>There are no Customers available at the point</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>FUll Name</th>
                <th>Discount Rate</th>
                <th>Membership Type</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Customers)
            {
            <tr>
                <td>
                    @Html.ActionLink(@customer.Name, "Detail", "Customers",
   new
   {
    @customer.Id
   }, null)
                </td>
                <td>@customer.MembershipType.DiscountRate%</td>
                <td>@customer.MembershipType.Name</td>
                <td>@Html.ActionLink("Edit", "Edit", "Customers",
   new
   {
       @customer.Id
   }, null)</td>

            </tr>
            

            }


        </tbody>
    </table>

 
}
